// Place all the styles related to the Meeting controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#kept-logo {
    width: calc(100% + 30px);
    background: linear-gradient(#aaa, black);
    color: white;
    margin: 0 -15px;
    padding: 10px 15px;
    font-size: 30px;
    font-family: sans-serif;
}

.user-block {
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
}

#user-secret-key {
    margin: 0 15px;
}

.be-hide {
    display: none;
}

.be-inline {
    display: inline;
}

.meetings-block {
    padding-top: 40px;

    span {
        font-size: 20px;
        margin-right: 25px;
    }

    form {
        min-width: 30vw;
        margin-left: 30px;
        margin-right: 30px;
    }

    .items-y-center {
        align-items:center;
        display:-webkit-flex;
    }

    #meetings-list {
        min-height: 20px;
        padding-top: 15px;

        .meeting-detail {
            border-bottom: 1px solid #ccc;
            
            .meeting-detail-column {
                height: 50px;
                border-left: 1px solid #ddd;
            }
        }
        
        .meeting-detail:first-child {
            border-top: 1px solid #ccc
        }

        .meeting-detail:hover {
            background: #eee
        }
    }
}

#thought-text-block {
    position: absolute;
    padding: 15px;
    bottom: 0;
    width: 100%;
    background: linear-gradient(#555, #222);
    color: white;

    #types-selector {
        min-width: 111px;

        span {
            display: block;
        }
    }

    div {
        min-height: 81px;
    }
}

#board-block {
    position: absolute;
    background: #eee;
    width: 100%;
    height: calc(100vh - 173px);

    #info-board {
        position: absolute;
        height: 100%;
        width: 20vw;
        background: linear-gradient(to right, #ccc,#aaa);
        #timer-block {
            width: 100%;
            text-align: center;
            input{
                margin-top: 20px;
                font-size: 50px;
                text-align: center;
                min-width: 10%;
                max-width: 50%;
            }
            button {
                display: block;
                margin: auto;
                margin-top: 15px;
                width: 50%;
            }
        }

        #meeting-info-block {
            margin-top: 15px;
            text-align: center;

            span {
                display: block;
            }
            #meeting-info-name{
                font-size: 40px;
            }
            #meeting-status{
                font-size: 10px;
                color: #333;
            }
        }

        #users-block {
            width: auto;
            margin: 25px;
            background: white;
            height: calc(100% - 280px);
            border: 2px solid #aaa;
            #users-list-block {
                overflow-y: scroll;
                height: calc(100% - 40px);
            }
            .user-item-block, .user-item-title {
                width: 100%;
                padding-top: 5px;
                padding-bottom: 5px;
                font-size: 20px;
                border-bottom: 1px solid #ddd;
                text-align: center;
            }

            .user-item-block {
                border-left: 5px solid #555;
            }

            .user-active {
                border-left: 5px solid #5cb85c;
            }

            .user-item-block:hover {
                background: #ddd;
            }
        }
    }

    #kpt-board {
        width: 77vw;
        right: 0;
        position: absolute;
        height: 100%;

        #kp-board {
            width: 55%;
            height: calc(100% - 50px);
            margin: 25px;
            float: left;
        }
        
        #k-board, #p-board {
            height: calc(50% - 7.5px);
        }

        #k-board {
            margin-bottom: 15px;
        }


        #t-board {
            width: calc(45% - 100px);
            height: calc(100% - 50px);
            margin: 25px;
            float: left;
        }

        .kpt-board {
            background: white;
            display: -webkit-flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 15px;
            overflow-y: scroll;
            .thought-tag {
                width: 165px;
                margin: 3px;
                padding: 0 5px 5px 5px;
                text-align: center;
                border: 1px solid #aaa;
                border-radius: 5px;
                box-shadow: #777 3px 3px;

                .thought-user-name {
                    border-bottom: 1px solid #ccc;
                    font-size: 20px;
                    overflow: hidden;
                }

                .thought-user-name:first-child::before {
                    content: 'From:';
                    font-size: 10px;
                    float: left;
                }

                .thought-content{
                    min-height: 80px;
                    max-height: 170px;
                    word-wrap: break-word;
                    overflow: hidden;
                    text-align: left;
                }

                .thought-handler{
                    text-align: right;
                    button {
                        width: 25px;
                        height: 25px;
                        padding: 0;
                        border-width: 0;
                        border-radius: 12.5px;
                    }
                }
            }

            .board-title {
                position: absolute;
                font-size: 25px;
            }

            #k-title {
                left: 15px;
                top: 0px;
                color: #5cb85c;
            }

            #p-title {
                bottom: 0px;
                left: 15px;
                color: #d9534f;
            }

            #t-title {
                right: 15px;
                top: 0px;
                color: #337ab7;
            }
        }
    }
}

#discussing-board {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(66, 64, 64, 0.5);
    top: 0;
    left: 0;
    z-index: 9999;

    #dicussing-card {
        width: 80vw;
        height: 80vh;
        top: 10vh;
        left: 10vw;
        position: absolute;
        background: white;
        box-shadow: 0 0 25px black;

        #discussing-status {
            position: absolute;
            left: 20%;
            top: 3%;

            button {
                width: 60px;
                height: 60px;
                border: 0;
                color: white;
                background: #888;
                border-radius: 30px;
                text-align: center;
                font-size: 35px;
            }
        }

        #discussing-controller {
            margin-top: 8vh;
            height: 8vh;
            #discuss-time {
                text-align: center;
                width: 70px;
            }
        }

        #discussing-thought-container {
            height: 48vh;

            #discussing-thought-content {
                border-bottom: 1px solid;
                font-size: 20px;
                word-break: break-word;
                padding: 5vh 10vw;
                text-shadow: 0 0 2px black;
            }
            #discussing-thought-from {
                text-align: center;
            }

            #discussing-thought-from::before {
                content: 'From:';
                float: left;
            }
        }

        #discussing-operations {
            height: 8vh;
            margin-top: 5px;
            button {
                margin: 5vw;
            }
        }

        #discussing-team-opinion {
            font-size: 25px;
            text-shadow: 0 0 5px #d9534f;
            color: #d9534f;
        }
    }

}